<div class="container">
    <div class="alert alert-warning" role="alert">
        This page is under construction!
    </div>
    <ng-container *ngIf="isInitialized">
        <h1>{{o.Name}}</h1>
        <h5>Routine</h5>
        <p>Source: {{o.Source}}</p>
        <div>&lt;ROUTINE {{o.Name}} {{o.ArgSpec}}</div>
        <div style="margin-left:2em;">
            <div *ngFor="let line of o.Body">
                <app-zil-object [o]="line"></app-zil-object>
            </div>
        </div>
        <div>&gt;</div>
    </ng-container>
</div>
